<!--
  Remove from the app Setting -> Content
  <div class="page-width">
      <p>Welcome to Historee Tees! If you're visiting from a European Country please go here: https://historeetees.com/collections/eu</p>
    </div>
-->
