/* additional or Modified CSS for this brand */

/* This is code to put the ATC Sticky into bottom and still be sticky - added by Kimson Pomneto - start */

#shopify-section-template--14561074184294__456a945e-822d-468f-9bf1-1c8a0c16481c {
    top: 56rem !important;
} /* added to custom.css file of the theme */

@media only screen and (max-width: 449px) {
    #shopify-section-template--14561074184294__456a945e-822d-468f-9bf1-1c8a0c16481c {
        top: 48rem !important;
    }
} /* added to custom.css file of the theme */

/* modified this code it overlaps to the header nad os ribbon original 
z-index is 42 - Kimson Pomento - start */

#shopify-section-template--14561074184294__456a945e-822d-468f-9bf1-1c8a0c16481c ~ .shopify-section {
    z-index: 39 !important;
} /* added to custom.css file of the theme */


/* This is code to put the ATC Sticky into bottom and still be sticky - added by Kimson Pomneto - end */